<h1>Search for Books</h1>

<%= search_form_for Book.ransack, url: search_stacks_books_path, method: :post do |f| %>
  <%= f.label :title_cont %>
  <%= f.search_field :title_cont, style: 'width: 50em' %>

  <%= f.submit %>
<% end %>

<div class='h3'>Newest Books</div>
<%= render partial: 'shared/result_list', locals: {books: @books} %>
