<h1><%= @book.title || @book.display_title %></h1>
<h2><%= @book.subtitle %></h2>
<h3>by <%= author_list_links(@book) %></h3>
<p><%= fancy_tag_list(@book) %></p>
<p>Published by <b><%= @book.publisher.try(:name) || 'Unknown' %></b> <%= @book.published_month.blank? ? 'in' : 'on' %> <b><%= @book.published_on %></b><br>
  <b><%= @book.page_count || 'Unknown' %></b> pages &bull; Added on <b><%= @book.created_at.strftime('%Y-%m-%d') %></b> &bull; ISBN <b><%= @book.isbn13 || 'Unknown' %></b> &bull; <%= show_library_status(@book) %></p>
<section><%= sanitize @book.description %></section>

<br>
<%= link_to('Update this information', edit_book_path(@book), class: 'btn btn-default') if current_user %>

