<h1>Search for Books</h1>

<%= search_form_for Book.ransack, url: search_books_path, method: :post do |f| %>
  <%= f.label :title_cont %>
  <%= f.search_field :title_cont %>

  <%= f.submit %>
<% end %>

<div class='h3'>Newest Books</div>
<%= render partial: 'result_list' %>
